.container{
  margin: 2rem;
}
.container h4{
  font-size: 1.5rem;
}
.Heading{
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  list-style-type: none;
  width: 67.5rem;
  display: flex;

}

.Heading li{
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.image{
  width: 7.5rem;
  height: 7.5rem;
}
.DisplayContainer{
  display: flex;
  flex-direction: column;
}
.table{
  display: flex;
  padding: 1rem;
  justify-content: space-between;

}
.table li{
  list-style-type: none;
  font-size: 0.75rem;
  font-weight: 500;
}
.edit{
  width: 3.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
}
.actions  {
  display: flex;
  flex-direction: column;
 width: min-content;
}
.formcontainer input{
  border-radius: 0.8rem; 
  border:2px solid #d9d9d9
 
  /* flex-wrap: wrap; */
}
.formcontainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
   
}
.formcontainer textarea{
  border-radius: 0.8rem; 
  /* outline-color: #d9d9d9; */
  padding: 1rem;
  border:2px solid #d9d9d9
}

.edit2{
  width: 3.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-weight: 600;
}
.closeButton {
  margin-right: -20px ;
  padding :0rem 0.5rem 0.2rem 0.5rem;
  /* padding:0.3rem; */
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  /* font-weight: 800; */
  color: white;
  background-color: red;
  
}


